global:
  resolve_timeout: 5m

route:
  receiver: discord
  group_wait: 10s
  group_interval: 5m
  repeat_interval: 1h

receivers:
  - name: discord
    webhook_configs:
      - url: "https://discord.com/api/webhooks/1462270908940157191/ba8_isKULOLIcEp3TV3uszELGT1wxyGTLH2qar53ZmOMG4YAwYa_5RsOmXt11lt-eFrl
        send_resolved: true
